<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<h1>Product Catalog</h1>

<% @products.each do |product| %>
  <div class="entry">
    <%= image_tag product.image_url %>
    <h3><%= product.title %></h3>
    <%= sanitize(product.description) %>
    <div class="price_line">
      <span class="price"><%= number_to_currency(product.price, :unit => 'C$') %></span>
      <%= button_to 'Add to Cart', line_items_path(:product_id => product) %>
      <%= link_to 'Add to Cart as link', line_items_path(:product_id => product), :method => :post %>
    </div>
  </div>
<% end %>

<% if @counter > 5 %>
  <p>Catalog has been accessed <%= pluralize(@counter, 'time') %></p>
<% end %>
